.animatedTextArea{
    display: flex;
    position: relative;
    height: 100px;
    margin: 10px 0;
}

.animatedTextArea textarea{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 15px 6px;
    resize: none;
}

.animatedTextArea label{
    position: absolute;
    top: 10px;
    left: 5px;
    font: 400 1.6rem Archivo;
    color: var(--color-text-base);
    transition: all 0.5s;
    pointer-events: none;
}

.animatedTextArea textarea:focus{
    border-bottom: 2px solid var(--color-primary);
}

.animatedTextArea textarea:focus ~ label,
.animatedTextArea textarea:valid ~label{
    font-size: 1.2rem;
    top:0;
}

@media(min-width:1024px){
    .animatedTextArea{
        margin-right: 20px;
    }
}