.SelectAnimated{
    display: flex;
    position: relative;
    height: 40px;
    margin: 10px 0;
}

.SelectAnimated select{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 10px 6px;
}

.SelectAnimated label{
    position: absolute;
    top: 10px;
    left: 5px;
    font: 400 1.6rem Archivo;
    color: var(--color-text-base);
    transition: all 0.5s;
    pointer-events: none;
}

.SelectAnimated select:focus{
    border-bottom: 2px solid var(--color-primary);
}

.SelectAnimated select:focus ~ label,
.SelectAnimated select:valid ~label{
    font-size: 1.2rem;
    top:-2px;
}

@media(min-width:1024px){
    .SelectAnimated{
        margin-right: 20px;
    }
}