.teacherPage{
    height: 100vh;
    width: 100vw;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 135%;
    background-color: var(--color-text-in-primary);
}

form{
    position: relative;
    width: 90%;
    height: 100%;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fieldSetWrapper{
    position: absolute;
    top: -30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 90%;
    background-color: var(--color-box-base);
    border-radius: 8px;
}

fieldset{
    width: 90%;
    background-color: var(--color-box-base);
    margin-bottom: 10px;
    
    border-radius: 8px;
    border: none;
    
}

.fieldsetTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fieldsetTitle button{
    border: none;
    background-color: var(--color-box-base);
    font: 700 1.6rem Archivo;
    color: var(--color-primary-dark);
}

.fieldsetTitle button:hover{
    opacity: 0.6;
    cursor: pointer;
}

fieldset h1{
    color: var(--color-text-title);
    font: 700 2rem Poppins;
    margin-top: 10px;
}

.warningWrapper{
    display: flex;
    align-items: center;
}

.warningWrapper img{
    width: 15%;
    max-width: 100px;
    margin: 0 10px;
}

.warningWrapper span{
    font: 400 1.5rem Poppins;
}

.fieldSetWrapper > button{
    border: none;
    background-color: var(--color-secundary);
    width: 50%;
    height: 50px;
    margin: 10px 0;
    border-radius: 8px;
    font: 700 1.6rem Archivo;
    color: var(--color-button-text);
}

.fieldSetWrapper > button:hover{
    background-color: var(--color-secundary-dark);
    cursor: pointer;    
}
